<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="navbar">
     <div class="navbaroptions">
      <img src="assets/icon/book-outline.svg" alt="Book" id="bookIcon">
      <img src="assets/icon/clock-outline.svg" alt="Clock" id="clockIcon">
     </div>
      <div class="navbartitles">
          <h2>Library</h2>
          <hr />
          <ul class="book-list">
            <li><strong>Il Signore degli anelli</strong></li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
            <li>Il Signore degli anelli</li>
          </ul>
          <hr />
          <div class="add-book">+ add new book</div>
        </div>
      <div class="progress-tracker">
          <h2>Il Signore degli anelli</h2>
      <p class="status-label">Progress Status</p>
      <ul class="chapter-timeline">
        <li class="completed">Chapter I</li>
        <li class="completed">Chapter I</li>
        <li class="completed">Chapter I</li>
        <li class="completed">Chapter I</li>
        <li class="completed">Chapter I</li>
        <li>Chapter I</li>
        <li>Chapter I</li>
        <li>Chapter I</li>
        <li>Chapter I</li>
        <li>Chapter I</li>
      </ul>
      </div>
  </div>
</body>
</html>